<html>
<head></head>
<body>
<span id="swipe-icon" style="background-image: url('img/mobile.png'); background-position: -93px -252px; width: 10px; height: 26px; float: left;"></span>
<div style="float: left; width: 950px; padding: 10px;">

<div class="productOverviewDiv" style="float: left; width: 100%; border: 1px solid #CCCCCC; padding-bottom: 5px; margin-bottom: 10px;">
<div class="title" style="padding: 10px; border-bottom: 1px solid #CCCCCC;">Hello Product</div>
<div class="assetOverviewDiv">
<ol style="margin: 0px; padding: 0px;">
<li style="list-style: none;">
<div class="assetElement" data-theme="b" style="float: left; width: 99%; border-bottom: 1px solid #CCCCCC; padding: 5px;">
<div style="opacity: 1;">
<div style="float: left;">
<a class="popupLink" href="#popup" data-rel="popup" data-position-to="window" data-role="button" data-theme="b" data-inline="true" data-transition="fade">
<img src="" style="width:100px;height:100px" />
</a>
</div>
<div style="float: left; padding-left: 50px;">
<div style="float: left;font-size: normal; padding-top: 30px;">sdd</div>
<div style="clear: both;"></div>
<div style="overflow: auto;" id="currentRating_"></div>
</div>
</div>
</div>
</li>
<li style="list-style: none;">
<div class="assetElement" data-theme="b" style="float: left; width: 99%; border-bottom: 1px solid #CCCCCC; padding: 5px;">
<div style="opacity: 1;">
<div style="float: left;">
<a class="popupLink" href="#popup" data-rel="popup" data-position-to="window" data-role="button" data-theme="b" data-inline="true" data-transition="fade">
<img src="" style="width:100px;height:100px" />
</a>
</div>
<div style="float: left; padding-left: 50px;">
<div style="float: left;font-size: normal; padding-top: 30px;">sdd</div>
<div style="clear: both;"></div>
<div style="overflow: auto;" id="currentRating_"></div>
</div>
</div>
</div>
</li>
</ol>
</div>
</div>

<div class="productOverviewDiv" style="float: left; width: 100%; border: 1px solid #CCCCCC; padding-bottom: 5px; margin-bottom: 10px;">
<div class="title" style="padding: 10px; border-bottom: 1px solid #CCCCCC;">Hello Product</div>
<div class="assetOverviewDiv">
<ol style="margin: 0px; padding: 0px;">
<li style="list-style: none;">
<div class="assetElement" data-theme="b" style="float: left; width: 99%; border-bottom: 1px solid #CCCCCC; padding: 5px;">
<div style="opacity: 1;">
<div style="float: left;">
<a class="popupLink" href="#popup" data-rel="popup" data-position-to="window" data-role="button" data-theme="b" data-inline="true" data-transition="fade">
<img src="" style="width:100px;height:100px" />
</a>
</div>
<div style="float: left; padding-left: 50px;">
<div style="float: left;font-size: normal; padding-top: 30px;">sdd</div>
<div style="clear: both;"></div>
<div style="overflow: auto;" id="currentRating_"></div>
</div>
</div>
</div>
</li>
</ol>
</div>
</div>
</div>
</body>
</html>